<section class="main__container">
  <div class="home container">
    <h1 class="home__title text--64">Pick some Place For Weekend</h1>
    <div class="weather">

        <div class="weather__header row">
          <div class="weather__value row__item text--24 text--bold">Experience</div>
          <div class="weather__value row__item text--24 text--bold">Capitals</div>
          <div class="weather__value row__item text--24 text--bold">Actions</div>
        </div>


      <div class="row"
           *ngFor="let item of capitals"
      id="row" [ngClass]="{visited: item.mark === 'visit', wanted: item.mark === 'want'}">
        <div class="row__item text--16 choose-status-box">
          <span class="choose-status-box__container"></span>
            <select (change)="changeColor($event.target.value, item)">
              <option value="select" selected>select</option>
              <option value="{{option}}" *ngFor="let option of options">{{option}}</option>
            </select>
        </div>

        <div class="row__item text--16" (click)="openModal(temperature)">
          <div class="row__text" (click)="getWeather(item)">{{item.capital}}</div>
        </div>

        <div class="row__item text--16">
          <app-btn (click)="delete(item)" class="button button--danger">del</app-btn>
        </div>
      </div>


    <!--  <div (cityAdded)="onCityAdded($event)"></div>-->


      <div class="home-btn" (click)="openModal(additional)">
        <app-btn class="button button--default">Add</app-btn>
      </div>
    </div>


    <ng-template #temperature>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="temperature">
          <div class="temperature__title text--24 text--bold">Temperature:</div>
          <div class="temperature__num">
            <app-weather-temperature [data]="weatherOfCapital$ | async"></app-weather-temperature>
          </div>
        </div>
      </div>
    </ng-template>



    <ng-template #additional>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row row__modal">
            <div class="row__item">
              <label for="Capital" style="width: 120px">Capital:
                <input type="text" id="capital" placeholder="" name="capital" class="row__input" #newCity>
              </label>
              <!--<label for="Lat" style="width: 120px">Lat:
                <input type="text" id="lat" placeholder="" name="lat" class="row__input" #newCity>
              </label>
              <label for="Long" style="width: 120px">Long:
                <input type="text" id="long" placeholder="" name="long" class="row__input" #newCity>
              </label>-->
            </div>

             <div class="add__footer">
               <button type="submit" (click)="addCity(newCity.value)" class="button button--primary">Save</button>
            </div>
          </div>
      </div>
    </ng-template>

  </div>
</section>
