<section class="main__container">
  <div class="home container">
    <h1 class="home__title text--64">Pick some Place For Weekend</h1>
    <div class="weather">
      <div class="weather__header">
          <div class="weather__value text--24 text--bold">Visited/want visit</div>
          <div class="weather__value text--24 text--bold">Capitals</div>
          <div class="weather__value text--24 text--bold">Temperature</div>
        <div class="weather__value text--24 text--bold">Actions</div>
      </div>

      <div class="row">
          <div class="row__item text--16">select</div>
        <div class="row__item text--16">London</div>
        <div class="row__item text--16">35C</div>
        <div class="row__item text--16">
          <app-btn (click)="edit($event)" class="button button--primary">Edit</app-btn>
          <app-btn (click)="delete($event)" class="button button--danger">del</app-btn>
        </div>
      </div>

      <div class="home-btn">
        <app-btn (click)="add($event)" class="button button--default">Add</app-btn>
      </div>
    </div>
  </div>
</section>
