.main__container {
  height: 100%;
}
.home {
  background: $background;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  &__title {
    text-align: center;
  }
}

.weather {
  height: 100%;
  flex-wrap: wrap;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    box-shadow: 0 1px 0 #ccceda;
    height: 50px;
    margin-bottom: 10px;
  }
  &__value {
    padding: 0 24px;
    &:not(:last-child) {
      border-right: 1px solid #ccceda;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 24px;
  background: $white;
  height: 50px;
  box-shadow: 0 1px 0 #ccceda;
  margin: 0 0 5px 0;
  &:hover {
    box-shadow: 0 2px 6px #73778e;
  }
  &__item {
    cursor: pointer;
  }
  &__text {
    &:hover{
      color: red;
    }
  }
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 50px;
}

.choose-status-box {
  display: inline-block;
  position: relative;
  & select {
    display: inline-block;
    height: 30px;
    width: 100px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: $black;
    border: 1px solid $background;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: $background;
  }
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
